# Pandas Section:

## Creating Panadas Sereies:

**Def:** 1D Array ike object but can hold many data types, and can label the index to each elemetn

In [3]:
#Importing Pandas
import pandas as pd

In [4]:
#creating Series:
sr = pd.Series(data=[1,"yes", "No"], index= ["Students", "Pass", "new"])

In [5]:
#get the shape:
sr.shape

(3,)

In [6]:
#get the number of elements:
sr.size

3

In [7]:
#get the rank
sr.ndim

1

In [8]:
#get indeces"
sr.index

Index(['Students', 'Pass', 'new'], dtype='object')

In [9]:
#get the values:
sr.values

array([1, 'yes', 'No'], dtype=object)

In [10]:
#Know if a label is in the series:

In [11]:
"Student" in sr

False

In [12]:
"Students" in sr

True

## Accessing and deleting elements:

In [14]:
#Access throw the index:
sr["Students"]

1

In [17]:
# Accessing multiple indeces:
sr[["Students", "Pass"]]

Students      1
Pass        yes
dtype: object

In [18]:
# Accessing multiple numerical indeces:
sr[[1,2]]

Pass    yes
new      No
dtype: object

In [19]:
#changing the values because it's mutable data:
sr[1] = 20

In [21]:
#Deleting data from series Ou of place:
sr.drop("Pass") #just retuening a modified one

Students     1
new         No
dtype: object

In [22]:
# Deleting elemetns from a series in place:
sr.drop("Pass", inplace = True)

In [23]:
print(sr)

Students     1
new         No
dtype: object

In [26]:
print(sr.keys())

Index(['Students', 'new'], dtype='object')

In [34]:
#Returning one element through index:
sr.at["Students"]
#Ability to reurn more than one specialy in the dataframe:
sr.loc["new"]

'No'

In [35]:
#Returning One value through Integer index:
sr.iat[1]
#Ability to reurn more than one specialy in the dataframe
sr.iloc[1]

'No'

## Arithmetic Operation:

In [36]:
sr["Students"] * 2

2

In [37]:
sr.loc["new"] *2

'NoNo'

In [39]:
sr.iloc[0] - 1

0

**NOTE:** the previuous operations is done out of place

In [40]:
import numpy as np

In [41]:
np.sqrt(sr["Students"])

1.0

In [45]:
np.power(sr["Students"], 2)

1

In [46]:
sr * 2

Students       2
new         NoNo
dtype: object

## Creating Pandas DataFrame;

**Def:** 2D Data STructures that an hold many data type.

In [54]:
#creating it Manually using Dictionary and Pandas Series:
items={"Bob": pd.Series([1,2,3], index = ["math", "science", "english"]),
        "Allice": pd.Series([2,4,5], index =["Books", "Glasses", "Bike"])
       }

In [55]:
df = pd.DataFrame(items)

In [56]:
df

         Bob  Allice
Bike     NaN     5.0
Books    NaN     2.0
Glasses  NaN     4.0
english  3.0     NaN
math     1.0     NaN
science  2.0     NaN

In [58]:
# We can creat it without indexes
# We can get the same info about it like numpy arrays
# WE can load a specific columns and indeces by useing columns and index key words

In [60]:
# WE can create it from List of dictionaries
dtcts = [{"Bikes": 30, "Books": 2}, {"Bikes": 20, "Books":5}]

df_3 = pd.DataFrame(dtcts, index=["Store 1", "Store 2"])

In [61]:
df_3

         Bikes  Books
Store 1     30      2
Store 2     20      5

In [62]:
# WE can use read_csv() to load data from csv file

## Accessing Elements in the Data Frame:

In [63]:
#using loc, indexing for 2D arrays, we can add cols with data like numpy nd arrays 
#or insert(col_index, col_name, col_values)

In [64]:
# To rows First we need to make it as a data frame and append it to the 1st one.

In [ ]:
# We can raname cols of rows by the rename({names Dict})